#include "resources.h"

IDI_ICON ICON DISCARDABLE "res/icon.ico"

IDB_ICON32 BMP "res/icon32.bmp"

IDB_TILES BMP "res/tiles.bmp"

IDB_DIGITS BMP "res/digits.bmp"

IDB_STATEICONS BMP "res/stateicons.bmp"
